# Caches & Temp files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
Thumbs.db
*.log
.eslintcache

# Node packages
node_modules/
.next/
out/
build/
dist/

# Environments & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example

# Virtual Environments
.venv/
venv/
ENV/
env/
pythonenv/

# IDE files
.vscode/
.idea/
*.swp
*.swo
